HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
data/db/undo_002
data/db/undo_001
data/db/tingeso/employees.ibd
data/db/tingeso/dates_370.sdi
data/db/tingeso/dates.MYI
data/db/tingeso/dates.MYD
data/db/tingeso/categories_369.sdi
data/db/tingeso/categories.MYI
data/db/tingeso/categories.MYD
data/db/sys/sys_config.ibd
data/db/server-key.pem
data/db/server-cert.pem
data/db/public_key.pem
data/db/private_key.pem
data/db/performance_schema/variables_info_186.sdi
data/db/performance_schema/variables_by_thr_183.sdi
data/db/performance_schema/users_144.sdi
data/db/performance_schema/user_variables_b_176.sdi
data/db/performance_schema/user_defined_fun_188.sdi
data/db/performance_schema/tls_channel_stat_190.sdi
data/db/performance_schema/threads_110.sdi
data/db/performance_schema/table_lock_waits_109.sdi
data/db/performance_schema/table_io_waits_s_108.sdi
data/db/performance_schema/table_io_waits_s_107.sdi
data/db/performance_schema/table_handles_158.sdi
data/db/performance_schema/status_by_user_180.sdi
data/db/performance_schema/status_by_thread_179.sdi
data/db/performance_schema/status_by_host_178.sdi
data/db/performance_schema/status_by_accoun_177.sdi
data/db/performance_schema/socket_summary_b_149.sdi
data/db/performance_schema/socket_summary_b_148.sdi
data/db/performance_schema/socket_instances_147.sdi
data/db/performance_schema/setup_threads_106.sdi
data/db/performance_schema/setup_objects_105.sdi
data/db/performance_schema/setup_instrument_104.sdi
data/db/performance_schema/setup_consumers_103.sdi
data/db/performance_schema/setup_actors_102.sdi
data/db/performance_schema/session_variable_185.sdi
data/db/performance_schema/session_status_182.sdi
data/db/performance_schema/session_connect__150.sdi
data/db/performance_schema/session_account__151.sdi
data/db/performance_schema/rwlock_instances_101.sdi
data/db/performance_schema/replication_grou_169.sdi
data/db/performance_schema/replication_grou_163.sdi
data/db/performance_schema/replication_conn_164.sdi
data/db/performance_schema/replication_conn_162.sdi
data/db/performance_schema/replication_asyn_173.sdi
data/db/performance_schema/replication_asyn_172.sdi
data/db/performance_schema/replication_appl_171.sdi
data/db/performance_schema/replication_appl_170.sdi
data/db/performance_schema/replication_appl_168.sdi
data/db/performance_schema/replication_appl_167.sdi
data/db/performance_schema/replication_appl_166.sdi
data/db/performance_schema/replication_appl_165.sdi
data/db/performance_schema/processlist_100.sdi
data/db/performance_schema/prepared_stateme_175.sdi
data/db/performance_schema/persisted_variab_187.sdi
data/db/performance_schema/performance_time_99.sdi
data/db/performance_schema/objects_summary__98.sdi
data/db/performance_schema/mutex_instances_97.sdi
data/db/performance_schema/metadata_locks_159.sdi
data/db/performance_schema/memory_summary_g_153.sdi
data/db/performance_schema/memory_summary_b_157.sdi
data/db/performance_schema/memory_summary_b_156.sdi
data/db/performance_schema/memory_summary_b_155.sdi
data/db/performance_schema/memory_summary_b_154.sdi
data/db/performance_schema/log_status_174.sdi
data/db/performance_schema/keyring_keys_152.sdi
data/db/performance_schema/keyring_componen_191.sdi
data/db/performance_schema/hosts_146.sdi
data/db/performance_schema/host_cache_96.sdi
data/db/performance_schema/global_variables_184.sdi
data/db/performance_schema/global_status_181.sdi
data/db/performance_schema/file_summary_by__95.sdi
data/db/performance_schema/file_summary_by__94.sdi
data/db/performance_schema/file_instances_93.sdi
data/db/performance_schema/events_waits_sum_92.sdi
data/db/performance_schema/events_waits_sum_91.sdi
data/db/performance_schema/events_waits_sum_90.sdi
data/db/performance_schema/events_waits_sum_89.sdi
data/db/performance_schema/events_waits_sum_88.sdi
data/db/performance_schema/events_waits_sum_87.sdi
data/db/performance_schema/events_waits_his_86.sdi
data/db/performance_schema/events_waits_his_85.sdi
data/db/performance_schema/events_waits_cur_84.sdi
data/db/performance_schema/events_transacti_138.sdi
data/db/performance_schema/events_transacti_137.sdi
data/db/performance_schema/events_transacti_136.sdi
data/db/performance_schema/events_transacti_135.sdi
data/db/performance_schema/events_transacti_134.sdi
data/db/performance_schema/events_transacti_133.sdi
data/db/performance_schema/events_transacti_132.sdi
data/db/performance_schema/events_transacti_131.sdi
data/db/performance_schema/events_statement_130.sdi
data/db/performance_schema/events_statement_129.sdi
data/db/performance_schema/events_statement_128.sdi
data/db/performance_schema/events_statement_127.sdi
data/db/performance_schema/events_statement_126.sdi
data/db/performance_schema/events_statement_125.sdi
data/db/performance_schema/events_statement_124.sdi
data/db/performance_schema/events_statement_123.sdi
data/db/performance_schema/events_statement_122.sdi
data/db/performance_schema/events_statement_121.sdi
data/db/performance_schema/events_statement_120.sdi
data/db/performance_schema/events_statement_119.sdi
data/db/performance_schema/events_stages_su_118.sdi
data/db/performance_schema/events_stages_su_117.sdi
data/db/performance_schema/events_stages_su_116.sdi
data/db/performance_schema/events_stages_su_115.sdi
data/db/performance_schema/events_stages_su_114.sdi
data/db/performance_schema/events_stages_hi_113.sdi
data/db/performance_schema/events_stages_hi_112.sdi
data/db/performance_schema/events_stages_cu_111.sdi
data/db/performance_schema/events_errors_su_143.sdi
data/db/performance_schema/events_errors_su_142.sdi
data/db/performance_schema/events_errors_su_141.sdi
data/db/performance_schema/events_errors_su_140.sdi
data/db/performance_schema/events_errors_su_139.sdi
data/db/performance_schema/error_log_83.sdi
data/db/performance_schema/data_locks_160.sdi
data/db/performance_schema/data_lock_waits_161.sdi
data/db/performance_schema/cond_instances_82.sdi
data/db/performance_schema/binary_log_trans_189.sdi
data/db/performance_schema/accounts_145.sdi
data/db/mysql/slow_log_214.sdi
data/db/mysql/slow_log.CSV
data/db/mysql/slow_log.CSM
data/db/mysql/general_log_213.sdi
data/db/mysql/general_log.CSV
data/db/mysql/general_log.CSM
data/db/mysql.sock
data/db/mysql.ibd
data/db/ibdata1
data/db/ib_buffer_pool
data/db/client-key.pem
data/db/client-cert.pem
data/db/ca.pem
data/db/ca-key.pem
data/db/binlog.index
data/db/binlog.000027
data/db/binlog.000026
data/db/binlog.000025
data/db/binlog.000024
data/db/binlog.000023
data/db/binlog.000022
data/db/binlog.000021
data/db/binlog.000020
data/db/binlog.000019
data/db/binlog.000018
data/db/binlog.000017
data/db/binlog.000016
data/db/binlog.000015
data/db/binlog.000014
data/db/binlog.000013
data/db/binlog.000012
data/db/binlog.000011
data/db/binlog.000010
data/db/binlog.000009
data/db/binlog.000008
data/db/binlog.000007
data/db/binlog.000006
data/db/binlog.000005
data/db/binlog.000004
data/db/binlog.000003
data/db/binlog.000002
data/db/binlog.000001
data/db/auto.cnf
data/db/\#innodb_redo/\#ib_redo41_tmp
data/db/\#innodb_redo/\#ib_redo40_tmp
data/db/\#innodb_redo/\#ib_redo39_tmp
data/db/\#innodb_redo/\#ib_redo38_tmp
data/db/\#innodb_redo/\#ib_redo37_tmp
data/db/\#innodb_redo/\#ib_redo36_tmp
data/db/\#innodb_redo/\#ib_redo35_tmp
data/db/\#innodb_redo/\#ib_redo34_tmp
data/db/\#innodb_redo/\#ib_redo33_tmp
data/db/\#innodb_redo/\#ib_redo32_tmp
data/db/\#innodb_redo/\#ib_redo31_tmp
data/db/\#innodb_redo/\#ib_redo30_tmp
data/db/\#innodb_redo/\#ib_redo29_tmp
data/db/\#innodb_redo/\#ib_redo28_tmp
data/db/\#innodb_redo/\#ib_redo27_tmp
data/db/\#innodb_redo/\#ib_redo26_tmp
data/db/\#innodb_redo/\#ib_redo25_tmp
data/db/\#innodb_redo/\#ib_redo24_tmp
data/db/\#innodb_redo/\#ib_redo23_tmp
data/db/\#innodb_redo/\#ib_redo22_tmp
data/db/\#innodb_redo/\#ib_redo21_tmp
data/db/\#innodb_redo/\#ib_redo20_tmp
data/db/\#innodb_redo/\#ib_redo19_tmp
data/db/\#innodb_redo/\#ib_redo18_tmp
data/db/\#innodb_redo/\#ib_redo17_tmp
data/db/\#innodb_redo/\#ib_redo16_tmp
data/db/\#innodb_redo/\#ib_redo15_tmp
data/db/\#innodb_redo/\#ib_redo14_tmp
data/db/\#innodb_redo/\#ib_redo13_tmp
data/db/\#innodb_redo/\#ib_redo12_tmp
data/db/\#innodb_redo/\#ib_redo11_tmp
data/db/\#innodb_redo/\#ib_redo10
data/db/\#ib_16384_1.dblwr
data/db/\#ib_16384_0.dblwr
