<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>Untitleda</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css"/>
  <link rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />
  <link rel = "stylesheet" href = "assets/css/dh-box-2-sides.css" />
  <link rel = "stylesheet" href = "assets/css/styles.css" />
</head>

<body>
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <nav class="navbar navbar-light navbar-expand-md py-3">
      <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg class="bi bi-bezier" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                            </svg></span><span>MueblesStgo</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-3" class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link active" href="/employees">Empleados</a></li>
            <li class="nav-item"><a class="nav-link" href="/salaries">Planilla de sueldos</a></li>
            <li class="nav-item"><a class="nav-link" href="/hours_index">Justificativos y horas extras</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <hr style="margin: 2px 0px 3vh 0px;" />
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">INGRESAR JUSTIFICATIVOS</h5>
            <p class="card-text">Ingresar justificativo para un empleado en un dia especifico</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              ingresar justificativos
            </button>

            <!-- Modal -->
            <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Ingreso Justificativos </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form th:action="@{/upload_justify}" method="post" enctype="multipart/form-data">
                      <label for="j_rut">Rut Empleado:</label>
                      <input type="text" placeholder="Ej:18.958.346-3" name="j_rut" id="j_rut">
                      <br>
                      <label for="j_date">Fecha a justificar</label>
                      <input type="date" value="2022-05-03" name="j_date" id="j_date">
                      <br>
                      <br>
                      <button class="btn btn-primary">Subir Justificativo</button>
                    </form>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">INGRESAR HORAS EXTRAS</h5>
            <p class="card-text">ingresar horas extras aprobadas para un empleado en un dia especifico</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
              Ingresar horas extras
            </button>

            <!-- Modal -->
            <div class="modal fade " id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel2">Ingreso horas extras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">

                    <form th:action="@{/upload_hours}" method="post" enctype="multipart/form-data">
                      <label for="h_rut">Rut empleado:</label>
                      <input type="text" placeholder="Ej:18.958.346-3" name="h_rut" id="h_rut">
                      <br>
                      <label for="h_date">Fecha a ingresar:</label>
                      <input type="date" value="2022-05-03" name="h_date" id="h_date">
                      <br>
                      <label for="h_hours">Cantidad horas extras:</label>
                      <input type="number" placeholder="Ej:3" min="1" max="5"
                             onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"
                              step="1" id="h_hours" name="h_hours">
                      <br>
                      <br>
                      <button class="btn btn-primary">Subir Horas Extras</button>
                    </form>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
      </div>
    </footer>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>

</html>