<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Untitled</title>
</head>
<body>
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <nav class="navbar navbar-light navbar-expand-md py-3">
      <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg class="bi bi-bezier" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                                <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                            </svg></span><span>MueblesStgo</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-3" class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link active" href="/employees">Empleados</a></li>
            <li class="nav-item"><a class="nav-link" href="/salaries">Planilla de sueldos</a></li>
            <li class="nav-item"><a class="nav-link" href="/hours_index">Justificativos y horas extras</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <hr style="margin: 2px 0px 3vh 0px;" />
    <div class="container">
      <div id="TableSorterCard" class="card">
        <div class="row table-topper align-items-center">
          <div class="col-4 text-start" style="margin: 0px;padding: 5px 15px;">
            <div><b><p th:text="'FECHA BUSCADA: ' + ${MonthSearch}"></p></b></div>
          </div>
          <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
            <div>
              <form th:action="@{/salary_Month}" method="post">
                <label for="s_date">Mes/año a buscar:</label>
                <input type="month" onchange="this.form.submit()" name="s_date" id="s_date">
              </form></div>
          </div>
          <div class="col-4 text-end" style="margin: 0px;padding: 5px 10px;"><a href="#" data-bs-toggle="modal" data-bs-target="#tablehelpModal"></a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <div>
              <table id="ipi-table" class="table table tablesorter">
                <thead class="thead-dark">
                <tr>
                  <th>rut</th>
                  <th class="sorter-false">nombre</th>
                  <th class="filter-false">años de servicio</th>
                  <th class="sorter-false">categoria</th>
                  <th class="filter-false sorter-false">pago correspondiente</th>
                  <th class="filter-false sorter-false">horas extras pagadas</th>
                  <th class="filter-false sorter-false">inasistencias</th>
                  <th class="filter-false sorter-false">descuentos</th>
                  <th class="filter-false sorter-false">bonus</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee:${salaries}">
                  <td th:text="${employee.rut}"></td>
                  <td th:text="${employee.name}"></td>
                  <td th:text="${employee.years_service}"></td>
                  <td th:text="${employee.category}"></td>
                  <td th:text="'$' + ${employee.salary}"></td>
                  <td th:text="'$' + ${employee.salary_extra_hours}"></td>
                  <td th:text="${employee.absences}"></td>
                  <td th:text="${employee.discount_percent} + '%'"></td>
                  <td th:text="${employee.bonus_percent} + '%'"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div id="tablehelpModal" class="modal fade" role="dialog" tabindex="-1" aria-labeledby="tablehelpModal" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4>Table Filtering Options</h4><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th style="width: 1%;">Priority</th>
                      <th style="width: 9%;">Operator</th>
                      <th style="width: 30%;">Description</th>
                      <th style="width: 60%;">Examples</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>1</td>
                      <td><code>|</code> or  <code>OR</code><br /></td>
                      <td>Logical &quot;or&quot; (Vertical bar). Filter the column for content that matches text from either side of the bar.<br /></td>
                      <td><code>&lt;20 | &gt;40</code> (matches a column cell with either &quot;&lt;20&quot; or &quot;&gt;40&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td><code>&amp;&amp;</code> or <code>AND</code><br /></td>
                      <td>Logical &quot;and&quot;. Filter the column for content that matches text from either side of the operator.<br /></td>
                      <td><code>&gt;20 &amp;&amp; &gt;40</code> (matches a column cell that contains both &quot;&gt;20&quot; and &quot;&lt;40&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td><code>/\d/</code><br /></td>
                      <td>Add any regex to the query to use in the query (&quot;mig&quot; flags can be included <code>/\w/mig</code>)<br /></td>
                      <td><code>/b[aeiou]g/i</code> (finds &quot;bag&quot;, &quot;beg&quot;, &quot;BIG&quot;, &quot;Bug&quot;, etc);<code>&gt;/r$/</code> (matches text that ends with an &quot;r&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td><code>&lt; &lt;= &gt;= &gt;</code><br /></td>
                      <td>Find alphabetical or numerical values less than or greater than or equal to the filtered query .<br /></td>
                      <td><code>&lt;=10</code> (find values greater than or equal to 10)<br /></td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td><code>!</code> or <code>!=</code><br /></td>
                      <td>Not operator, or not exactly match. Filter the column with content that <strong>do not</strong> match the query. Include an equal (<code>=</code>), single (<code>&#39;</code>) or double quote (<code>&quot;</code>) to exactly <em>not</em> match a filter.<br /><br /><br /></td>
                      <td><code>!e</code> (find text that doesn&#39;t contain an &quot;e&quot;);<code>!&quot;ELISA&quot;</code> (find content that does not exactly match &quot;ELISA&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td><code>&quot;</code> or <code>=</code><br /></td>
                      <td>To exactly match the search query, add a quote, apostrophe or equal sign to the beginning and/or end of the query<br /></td>
                      <td><code>abc&quot;</code> or <code>abc=</code> (exactly match &quot;abc&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td><code>-</code> or <code>to</code><br /></td>
                      <td>Find a range of values. Make sure there is a space before and after the dash (or the word &quot;to&quot;).<br /></td>
                      <td><code>10 - 30</code> or <code>10 to 30</code> (match values between 10 and 30)<br /></td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td><code>?</code><br /></td>
                      <td>Wildcard for a single, non-space character.<br /></td>
                      <td><code>S?c</code> (finds &quot;Sec&quot; and &quot;Soc&quot;, but not &quot;Seec&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>8</td>
                      <td><code>*</code><br /></td>
                      <td>Wildcard for zero or more non-space characters.<br /></td>
                      <td><code>B*k</code> (matches &quot;Black&quot; and &quot;Book&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>9</td>
                      <td><code>~</code><br /></td>
                      <td>Perform a fuzzy search (matches sequential characters) by adding a tilde to the beginning of the query<br /></td>
                      <td><code>~bee</code> (matches &quot;Bruce Lee&quot; and &quot;Brenda Dexter&quot;), or <code>~piano</code> (matches &quot;Philip Aaron Wong&quot;)<br /></td>
                    </tr>
                    <tr>
                      <td>10</td>
                      <td>text<br /></td>
                      <td>Any text entered in the filter will <strong>match</strong> text found within the column<br /></td>
                      <td><code>abc</code> (finds &quot;abc&quot;, &quot;abcd&quot;, &quot;abcde&quot;, etc);<code>SEC</code> (finds &quot;SEC&quot; and &quot;Analytical SEC&quot;)<br /></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer"><button class="btn btn-danger" type="button" data-bs-dismiss="modal">Close</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
      </div>
    </footer>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>